.make{
  color : 'green';
}

.slab{
 margin: 30px;
}


.product-desc-img{
  width: 100%;
  height: auto;
}

.product-exp-title{
  font-weight: bold;
  margin: 2px;
}

.product-in-cart{
  margin: 3px;
  vertical-align: middle  !important;
  background-color: blanchedalmond;
}

.product-in-cart-img{
  height: auto;
  max-width: 100%;
  float: left;
}


.row{
  overflow: visible;
}

.remove-btn{
  float: right;
  border-radius: 100%;
}

.payment-banner{
  border: 2px;
  border-radius: 2px;
  background-color: lightgrey;
  padding : 20px
}
.payment-btn{
  float: middle ;
}

.empty-cart-btn{
  float : right;
}

.payment-type{
  background-color: whitesmoke;
  max-width: 250px;
}